.small-widget {
    flex: 1;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.small-widget-title {
    font-size: 22px;
    font-weight: 600;
}

.small-widget-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.small-widget-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.small-widget-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.small-widget-user {
    display: flex;
    flex-direction: column;
}

.widget-username {
    font-size: 18px;
    font-weight: 600;
}

.widget-usertitle {
    font-size: 12px;
    font-weight: 300;
    padding-left: 8px;
}

.small-widget-button {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}
.small-widget-icon{
    font-size: 16px;
    margin-right: 5px;
}